<!--views/front/books.ejs-->
<link rel="stylesheet" href="/styles/front/books.css" />
<script src="/scripts/paginate.js"></script>

<section class="Books">
    <div class="wrapper region">
        <% if(data.books){ %>
            <% for(let book of data.books){ %>
            <a href="/book/<%= book.id %>">
                <img src="<%= book.bookCover %>" />
            </a>
            <% } %>
        <% } %>
    </div>
    <% if(data.count > data.categoryPostLimit){ %>
    <div class="pagination region">
        <img onclick="paginate('<%= data.route %>')" src="/images/load-more.png"/>
    </div>
    <% } %>
</section>