<!--views/front/index.js-->
<link rel="stylesheet" href="/styles/front/index.css" />

<section class="Index">
    <div class="wrapper">
        <div class="outer region">
            <div class="logo">
                <a href="/"><img src="/images/siteLogo.png"/></a>
            </div>
            <a href="/" class="siteTitle">Khmer Web</a>
            <form target="/search" method="post">
                <select name="type">
                    <option>សៀវភៅ</option>
                    <option>ព័ត៌មាន</option>
                </select>
                <input type="text" name="q" required placeholder="Search"/>
                <input type="submit" value="ស្វែង​រក" />
            </form>
            <div class="login">
                <a href="/admin/login">ចូល​ក្នុង</a> | <a>ចុះ​ឈ្មោះ</a>
            </div>
        </div>
    </div>
</section>

<section class="Random">
    <div class="container region">
        <% if(data.random){ %>
            <% for(let item of data.random){ %>
            <a href="/post/<%= item.id %>">
                <img src="<%= item.thumb %>" />
            </a>
            <% } %>
        <% } %>
    </div>
</section>