<!--views/front/page.ejs-->

<style>
    .Page{
        margin-top: 10px;
        color: black;
    }
</style>
<section class="Page">
    <article class="infor region">
        ទំនាក់ទំនងៈ<br/>

        ទូរស័ព្ទ​លេខៈ 096-388-9323<br/>
        Email: vuthdevelop@gmail.<br/>
        Facebook: https://www.facebook.com/people/Sokhavuth-Tin/100010725609098<br/>
        គេហទំព័រ https://www.khmerweb.app/<br/>
    </article>
</section>