/* public/styles/front/home.css */
.Random .container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 7px;
    background: white;
    padding: 7px;
}

.Random .container img{
    width: 100%;
    float: left;
}

.Random .container a{
    position: relative;
    padding-top: 56.25%;
}

.Random .container a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Random .container a .play-icon{
    width: 20%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.Random .listing .navigate{
    padding: 5px 0 0;
    background: lavender;
    text-align: center;
}

.Random .listing .navigate img{
    height: 25px;
    
}

.Random .listing ul{
    background: white;
    list-style-position: inside;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 20px;
    color: black;
}

.Random .listing ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.Random .listing ul li:last-child{
    padding-right: 0;
}

.Random .listing ul li a{
    color: black;
}

.Random .book{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    padding: 15px;
    background: white;
    margin: 20px auto;
}

.Random .book img{
    width: 100%;
    float: left;
}

@media only screen and (max-width: 600px){
    .Random .book{
        grid-template-columns: 100%;
    }

    .Random .container{
        grid-template-columns: 100%;
    }

    .Random .listing ul{
        grid-template-columns: 100%;
    }

    .Random .listing ul li{
        padding-right: 0;
    }
}