/* public/styles/front/index.css */
.Index .wrapper{
    background: var(--background-dark);
    border-bottom: 7px solid white;
}

.Index .wrapper .outer{
    display: grid;
    grid-template-columns: 4% 25% auto  20%;
    align-items: center;
}

.Index .wrapper .outer .logo img{
    width: 100%;
}

.Index .wrapper .outer .siteTitle{
    font: bold 30px/1.5 Courgette;
    color: white;
    padding-left: 5px;
}

.Index .wrapper .outer form{
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.Index .wrapper .outer form input,
.Index .wrapper .outer form select{
    font: var(--body-font);
    padding: 1px 5px;
}

.Index .wrapper .outer .login{
    text-align: right;
}

.Random .container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 7px;
    margin-top: 7px;
}

.Random .container img{
    width: 100%;
    float: left;
}

@media only screen and (max-width: 600px){
    .Index .wrapper .outer{
        grid-template-columns: 100%;
        text-align: center;
    }

    .Index .wrapper .outer .logo img{
        width: auto;
    }

    .Index .wrapper .outer .siteTitle{
        font: 30px/1.5 Courgette;
        color: white;
        padding-left: 0;
    }

    .Index .wrapper .outer .login{
        text-align: center;
    }
}